<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{template :: headfiles}"></th:block>
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	</head>
	<body>
		<th:block th:replace="~{template :: menu}"></th:block>
		<br>
		<div class="container">
			<div th:if="${errorMessage != null && !#strings.isEmpty(errorMessage)}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  	<span th:text="${errorMessage}"></span >
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div th:if="${successMessage != null && !#strings.isEmpty(successMessage)}" class="alert alert-success alert-dismissible fade show" role="alert">
			  	<span th:text="${successMessage}"></span >
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="card mb-4" th:if="${res != null}">
				<div class="card-body">
			    	<th:block th:with="user=${res.user}">
						<h4>User Details</h4>
						<input type="hidden" name="user.userCode" th:value="${user.userCode}" value="asdf" />
				        <div class="row mb-2">
				        	<div class="col">
				        		<label for="username" class="form-label">Username</label >
			                    <input type="text" name="user.username" id="username" class="form-control" th:value="${user.username}" required readonly>
				        	</div>
				        	<div class="col">
				        		<label for="accessRole" class="form-label">Access Level</label >
			                    <select id="accessRole" class="form-select form-control" aria-label="RoleSelect" name="user.role" required disabled>
									<option th:value="${user.role.roleId}" th:text="${user.role.roleName}">Role</option>
								</select>
				        	</div>
				        	<div class="col">
				        		<label for="terminationDate" class="form-label">User Termination Date</label >
			                    <input type="text" name="terminationDate" id="terminationDate" class="form-control" th:value="${#temporals.format(user.terminationDate, 'MM/dd/yyyy')}" readonly>
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col">
				        		<label for="entryTimestamp" class="form-label">Date Registered</label >
			                    <input type="text" name="entryTimestamp" id="entryTimestamp" class="form-control" th:value="${#temporals.format(user.entryTimestamp, 'MM/dd/yyyy hh:mma')}" required readonly>
				        	</div>
				        	<div class="col">
				        		<label for="lastChangedTimestamp" class="form-label">Last Changed Timestamp</label >
			                    <input type="text" name="lastChangedTimestamp" id="lastChangedTimestamp" class="form-control" th:value="${#temporals.format(user.lastChangedTimestamp, 'MM/dd/yyyy hh:mma')}" required readonly>
				        	</div>
				        	<div class="col">
				        		<label for="lastChangedUser" class="form-label">Last Changed User</label >
			                    <input type="text" name="lastChangedUser" id="lastChangedUser" class="form-control" th:value="${user.lastChangedUser}" required readonly>
				        	</div>
						</div>
			    	</th:block>
			    	<th:block th:if="${res.user.terminationDate == null}">
				    	<hr>
				    	<div>
					    	<button class="btn btn-secondary" type="button" id="changePasswordBtn" data-bs-toggle="modal" data-bs-target="#changePasswordModal" sec:authorize="hasAnyRole('ROLE_SUPV')">Reset Password</button >
	 				    	<button class="btn btn-secondary" type="button" id="updateAccessBtn" data-bs-toggle="modal" data-bs-target="#accessModal" sec:authorize="hasAnyRole('ROLE_SUPV')">Update Access</button >
					    	<button class="btn btn-warning" type="button" id="terminateUserBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" sec:authorize="hasAnyRole('ROLE_SUPV')">Terminate User Access</button >
							
							<!-- Update Access Level -->
							<div class="modal fade" id="accessModal" tabindex="-1" aria-labelledby="accessModalLabel" aria-hidden="true" sec:authorize="hasRole('ROLE_SUPV')">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Update Access</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form action="#" th:action="@{__${#ctx.springRequestContext.requestUri}__/updateaccess}" method="POST" id="terminationDateForm" th:with="user=${res.user}">
											<div class="modal-body">
												<input type="hidden" name="userCode" th:value="${user.userCode}" value="asdf" />
												<input type="hidden" name="username" th:value="${user.username}" value="asdf" />
												<div class="col">
										  		<label for="updateAccessRole" class="form-label">Access Level</label >
												<select id="updateAccessRole" class="form-select form-control" aria-label="RoleSelect" name="role" required>
													<option></option>
													<option th:each="role : ${res.roleList}" th:value="${role.roleId}" th:if="${role.roleId >= res.userRole.roleId}"
														th:text="${role.roleName}" th:selected="${user.role.roleId == role.roleId}" >Role</option>
												</select>
										  	</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-warning">Update</button>
											</div >
										</form>
									</div>
								</div>
							</div>							
					    	<!-- Termination Date -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" sec:authorize="hasRole('ROLE_SUPV')">
							   <div class="modal-dialog">
							      <div class="modal-content">
							         <div class="modal-header">
							            <h5 class="modal-title" id="exampleModalLabel">Terminate User Access</h5>
							            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							         </div>
							         <form action="#" th:action="@{__${#ctx.springRequestContext.requestUri}__/terminate}" method="POST" id="terminationDateForm" th:with="user=${res.user}">
							            <div class="modal-body">
							               <input type="hidden" name="user.userCode" th:value="${user.userCode}" value="asdf" />
							               <input type="hidden" name="user.username" th:value="${user.username}" value="asdf" />
							               <div class="col">
							                  <label for="tDate" class="form-label">Termination Date</label >
							                  <input type="date" name="terminationDate" id="tDate" class="form-control" required>
							               </div>
							            </div>
							            <div class="modal-footer">
							               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							               <button type="submit" class="btn btn-warning">Terminate User</button>
							            </div>
							         </form>
							      </div>
							   </div>
							</div>
														
					    	<!-- Change Password -->
							<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModal" aria-hidden="true" sec:authorize="hasRole('ROLE_SUPV')">
							   <div class="modal-dialog">
							      <div class="modal-content">
							         <div class="modal-header">
							            <h5 class="modal-title" id="exampleModalLabel">Reset password</h5>
							            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							         </div>
							         <form action="#" th:action="@{__${#ctx.springRequestContext.requestUri}__/changepassword}" method="POST" id="changePasswordForm" th:with="user=${res.user}"
							         		autocomplete="off" onsubmit="return validatePassword();">
							            <div class="modal-body">
							               <input type="hidden" name="userCode" th:value="${user.userCode}" value="asdf" />
							               <input type="hidden" name="username" th:value="${user.username}" value="asdf" />
							               <div class="col">
							                  <label for="newPassword" class="form-label">New Password</label >
							                  <input type="password" name="password" id="newPassword" class="form-control" required maxlength="16"
							                  	pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
							               </div>
							               <div class="col">
							                  <label for="passwordConfirmation" class="form-label">Confirm New Password</label >
							                  <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control" required maxlength="16"
							                  	pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
							               </div>
							               <div class="col" id="passwordError">
							               </div>
							            </div>
							            <div class="modal-footer">
							               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							               <button type="submit" class="btn btn-primary">Save changes</button>
							            </div>
							         </form>
							      </div>
							   </div>
							</div>				    	</div>
			    	</th:block>				</div>
			</div>
		</div>
		<th:block th:replace="~{template :: footer}"></th:block >
		<script type="text/javascript" th:src="@{/js/public/jquery-3.6.0.min.js}"></script>
		<th:block th:replace="~{template :: scripts}"></th:block>
		<script th:inline="javascript">
		
			//var regularExpression = /^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
			function validatePassword() {
			    var password1 = $('#password').val();
			    var password2 = $('#passwordConfirmation').val();
			    $('#passwordError').empty();
			    if(password1 != password2) {
					var passwordError = document.getElementById("passwordError");
					passwordError.innerHTML = "<span style='color: red;'>The passwords you entered do not match</span>"
					return false;
				}
			}
		</script >
	</body>
</HTML >