<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<th:block th:replace="~{template :: headfiles}"></th:block>
	</head >
	<body>
		<div class="container">
	        <div class="row">
	            <div class="col-md-4 offset-md-4">
	                <div class="login-form bg-light mt-4 p-4">
	                    <form action="#" th:action="@{/login}" method="POST" class="row g-3">
	                        <h4>SOSE'S Marketing - AUDIT</h4>
	                        <div th:if="${param.error}" class="col-12 error" style="color:red">
	                            Invalid username and/or password.
	                        </div>
	                        <div th:if="${param.logout}" class="col-12">
	                            <em>You have successfully logged out.</em>
	                        </div>
	                        <div class="col-12">
	                            <label>Username</label>
	                            <input type="text" name="username" class="form-control" placeholder="Username" required>
	                        </div>
	                        <div class="col-12">
	                            <label>Password</label>
	                            <input type="password" name="password" class="form-control" placeholder="Password" required>
	                        </div>
	                        <div class="col-12">
	                            <button type="submit" class="btn btn-dark float-end">Login</button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <footer th:replace="~{template :: footer}"></footer >
	</body>
</html >