<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:fragment="headfiles">
			<meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    	<title>SOSE'S - AUDIT</title>
	    	
	    	<!-- <link rel="stylesheet" th:href="@{/css/roboto.min.css}" type="text/css" /> -->
	    	<link rel="stylesheet" th:href="@{/css/public/bootstrap.min.css}" type="text/css" />
		</th:block >
	</head>
	<body>
		<th:block th:fragment="menu">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" >
			 	<div class="container-fluid">
			   		<a class="navbar-brand" href="#" th:href="@{/}">SOSE'S AUDIT</a>
			    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      		<span class="navbar-toggler-icon"></span>
			    	</button>
			    	
				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				     	<ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="hasRole('ROLE_STAFF')">
					        <!--<li class="nav-item">
					         	<a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
					        </li>-->
					        <li class="nav-item dropdown">
					         	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            	Customer
					         	</a>
					  			<ul class="dropdown-menu" aria-labelledby="employeeDropdown">
						            <li><a class="dropdown-item" href="#" th:href="@{/customer}">Search Customer</a></li>
						            <li><a class="dropdown-item" href="#" th:href="@{/customer/add}">Register Customer</a></li>
						            <!--<li><a class="dropdown-item" href="#">Another action</a></li>
						            <li><hr class="dropdown-divider"></li>
						            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
					        	</ul>
					        </li>
					        <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_SUPV')">
					         	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            	User Management
					         	</a>
					  			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMgmtDropdown">
						            <li><a class="dropdown-item" href="#" th:href="@{/user}">Search Users</a></li>
						            <li><a class="dropdown-item" href="#" th:href="@{/user/add}">Add User</a></li>
					        	</ul>
					        </li>
				     	</ul>
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					        
					        <li class="nav-item dropdown">
					         	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            	<span sec:authentication="name">username</span>
					         	</a>
					  			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
						            <li><a class="dropdown-item" href="#" th:href="@{/changepassword}">Change my Password</a></li>
						            <li><hr></li>
						            <li sec:authorize="isAuthenticated()">
										<form action="#" th:action="@{/logout}" method="POST">
											<button type="submit" class="dropdown-item" th:text="'Logout'" >Logout</button>
										</form>
									</li>
					        	</ul>
					        </li>
						</ul>
		     			<!--<a sec:authentication="name" class="btn btn-light disabled">username</a>
		      			<div sec:authorize="isAuthenticated()">
							<form action="#" th:action="@{/logout}" method="POST">
								<button type="submit" class="btn btn-secondary" th:text="${#strings.toUpperCase('logout')}" >Logout</button>
							</form>
						</div>-->
				    </div>
			 	</div>
			</nav>
		</th:block>
		
		<th:block th:fragment="pagination(searchName, searchValue)">
			<nav aria-label="Employee Pagination" th:if="${totalPages > 0}">
				<span class="" th:text="'Total Records Found: ' + ${totalRows}"></span >
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${currentPage+1 == 1? 'disabled':''}">
						<a class="page-link" th:href="@{#ctx.springRequestContext.requestUri(page=${currentPage}, ${searchName}=${searchValue})}" th:text="Previous">Previous</a>
					</li>
					<li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage+1 == pageNumber? 'active' : ''}">
						<a class="page-link" href="#" th:href="@{#ctx.springRequestContext.requestUri(page=${pageNumber}, ${searchName}=${searchValue})}" th:text="${pageNumber}">0</a>
					</li>
					<li class="page-item" th:classappend="${currentPage+1 == totalPages? 'disabled':''}">
						<a class="page-link"  th:href="@{#ctx.springRequestContext.requestUri(page=${currentPage+2}, ${searchName}=${searchValue})}" th:text="Next">Next</a>
					</li>
				</ul>
			</nav>
		</th:block>
		
		<th:block th:fragment="foooter">
			<!--<footer class="footer mt-auto py-3 bg-light">
				<div class="container">
			    	<span class="text-muted">Place sticky footer content here.</span>
				</div>
			</footer>-->
			<footer></footer>
		</th:block>
		<th:block th:fragment="scripts">
			<script type="text/javascript" th:src="@{/js/public/bootstrap.bundle.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
		</th:block>
	</body>
</html >